aiohttp==3.8.1
aiohttp-retry==2.4.6
aiosignal==1.2.0
alembic==1.8.0
appdirs==1.4.4
arrow==1.2.2
async-timeout==4.0.2
asyncssh==2.11.0
asynctest==0.13.0
atpublic==3.0.1
attrs==21.4.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
binaryornot==0.4.4
brotlipy==0.7.0
cached-property==1.5.2
certifi==2022.6.15
cffi @ file:///C:/ci_310/cffi_1642682485096/work
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.3
cloudpickle==2.1.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1655412516417/work
commonmark==0.9.1
configobj==5.0.6
cookiecutter==2.1.1
cryptography==37.0.2
databricks-cli==0.16.8
debugpy @ file:///D:/bld/debugpy_1649586515597/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
dictdiffer==0.9.0
diskcache==5.4.0
distro==1.7.0
docker==5.0.3
dpath==2.0.6
dulwich==0.20.43
dvc==2.10.2
dvc-render==0.0.5
dvclive==0.9.0
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
Flask==2.1.2
flatten-dict==0.4.2
flufl.lock==7.0
frozenlist==1.3.0
fsspec==2022.5.0
ftfy==6.1.1
funcy==1.17
future==0.18.2
gitdb==4.0.9
GitPython==3.1.27
grandalf==0.6
greenlet==1.1.2
gunicorn==20.1.0
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
importlib-metadata==4.11.4
importlib-resources==5.8.0
ipykernel @ file:///D:/bld/ipykernel_1655369313836/work
ipython @ file:///D:/bld/ipython_1651240762678/work
itsdangerous==2.1.2
jaraco.classes==3.2.1
jaraco.collections==3.5.1
jaraco.context==4.1.1
jaraco.functools==3.5.0
jaraco.structures==2.1.0
jaraco.text==3.8.0
jaraco.ui==2.3.0
jaraco.windows==5.7.0
jedi @ file:///D:/bld/jedi_1649067454004/work
Jinja2==3.1.2
jinja2-time==0.2.0
joblib==1.1.0
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1654730843242/work
jupyter-core @ file:///D:/bld/jupyter_core_1652365488120/work
mailchecker==4.1.17
Mako==1.2.0
MarkupSafe==2.1.1
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1631080358261/work
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186163140/work
mkl-service==2.4.0
mlflow==1.26.1
more-itertools==8.13.0
multidict==6.0.2
nanotime==0.5.2
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1648959695634/work
networkx==2.6.3
numpy==1.21.6
oauthlib==3.2.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.3.5
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
path==16.4.0
pathspec==0.9.0
phonenumbers==8.12.50
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.0.1
prometheus-client==0.14.1
prometheus-flask-exporter==0.20.2
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1649130487073/work
protobuf==4.21.1
psutil @ file:///D:/bld/psutil_1653089401496/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydot==1.4.2
pygit2==1.9.2
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1650904496387/work
pygtrie==2.4.2
PyJWT==2.4.0
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PySocks @ file:///C:/ci/pysocks_1594394709107/work
python-benedict==0.25.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-dotenv==0.20.0
python-fsutil==0.6.1
python-slugify==6.1.2
pytz==2022.1
pywin32==303
PyYAML==6.0
pyzmq @ file:///D:/bld/pyzmq_1654181526391/work
querystring-parser==1.2.4
requests==2.28.0
rich==12.4.4
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scipy==1.7.3
scmrepo==0.0.19
shortuuid==1.0.9
shtab==1.5.4
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.0
SQLAlchemy==1.4.37
sqlparse==0.4.2
tabulate==0.8.9
text-unidecode==1.3
toml==0.10.2
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
tornado @ file:///D:/bld/tornado_1648827404315/work
tqdm==4.64.0
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1655411388954/work
typing_extensions==4.2.0
urllib3 @ file:///C:/ci/urllib3_1650639842077/work
voluptuous==0.13.1
waitress==2.1.2
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
websocket-client==1.3.2
Werkzeug==2.1.2
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306165655/work
wincertstore==0.2
xmltodict==0.13.0
yarl==1.7.2
zc.lockfile==2.0
zipp==3.8.0
